<html>
  <title>admin panal</title>
    <link href="../public/css/toggle.css" rel="stylesheet">
     <link href="../public/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../public/css/metisMenu.min.css" rel="stylesheet">
       <link href="../public/css/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../public/css/startmin.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="../public/css/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <body>

       <div id="wrapper">

               <% include ./header %>
       </div>

        <div class="sidenav">
              <% include ./sideDiv %>
       </div>

        <div class="main">
                    <label> duble bad</label>
           </div>




    </body>
     <script src="../public/js/toglle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
