<html>
  <title>admin panal</title>
    <link href="../public/css/toggle.css" rel="stylesheet">
     <link href="../public/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../public/css/metisMenu.min.css" rel="stylesheet">
       <link href="../public/css/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../public/css/startmin.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="../public/css/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <body>
       <div id="wrapper">

            <!-- Navigation -->
           <% include ./header %>
       </div>
        <div class="sidenav">
            <% include ./sideDiv %>
       </div>

        <div class="main">
            <div>
                <label> Total User   :-</label><label> 10 User</label> <hr style= "border-width:4px;">
            </div>
            <div>
                <label>Suit</label><br>
                <label>In Stack :-20</label><label style="margin-left:580px;">To Sales :- 15</label>
                <hr style= "border-width: 4px;">
            </div>
            <div>
                <label>Pants-Sart</label><br>
                <label>In Stack :-32</label><label style="margin-left:580px;">To Sales :- 21</label>
                <hr style= "border-width: 4px;">
            </div>
            <div>
                <label>Pants-Sart</label><br>
                <label>In Stack :-32</label><label style="margin-left:580px;">To Sales :- 21</label>
                <hr style= "border-width: 4px;">
            </div>
            <div>
                <label>Duble Bed</label><br>
                <label>In Stack :-12</label><label style="margin-left:580px;">To Sales :- 9</label>
                <hr style= "border-width: 4px;">
            </div>
            <div>
                <label>Towels</label><br>
                <label>In Stack :-5</label><label style="margin-left:580px;">To Sales :- 2</label>

            </div>
           </div>

    </body>
     <script src="../public/js/toglle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
