<html>
  <title>admin panal</title>
    <link href="../public/css/toggle.css" rel="stylesheet">
     <link href="../public/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../public/css/metisMenu.min.css" rel="stylesheet">
       <link href="../public/css/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../public/css/startmin.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="../public/css/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <body>
<!--       ----------------------->
       <div id="wrapper">

            <!-- Navigation -->
             <% include ./header %>
       </div>





<!--       ----------------->
        <div class="sidenav">
             <a href="#about">DeshBord</a>
<!--             <a href="#services">Services</a>-->
     <button class="dropdown-btn">Suit
         <i class="fa fa-caret-down"></i>
       </button>
      <div class="dropdown-container">
             <a href="#">Kadai-suit</a>
             <a href="#">Print-suit</a>
      </div>
<!--            ------------------>
     <button class="dropdown-btn">Pants-Sart
          <i class="fa fa-caret-down"></i>
       </button>
      <div class="dropdown-container">
             <a href="#">Safari Suit</a>
             <a href="#">Pants</a>
             <a href="#">Sart</a>
      </div>

          <a href="#clients">Duble Bed</a>

<!-------------------------            -->
              <button class="dropdown-btn">Towels
          <i class="fa fa-caret-down"></i>
       </button>
      <div class="dropdown-container">
             <a href="#">Small Towels</a>
             <a href="#">Big Towels</a>

      </div>



<!--            ------------------------>


            <a href="#contact">Search</a>
       </div>

        <div class="main">
                    <label> sart</label>
           </div>




    </body>
     <script src="../public/js/toglle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
