 <a href="index.ejs">DeshBord</a>
<!--             <a href="#services">Services</a>-->
     <button class="dropdown-btn">Suit
         <i class="fa fa-caret-down"></i>
       </button>
      <div class="dropdown-container">
             <a href="kadai_suit.ejs">Kadai-suit</a>
             <a href="print_suit.ejs">Print-suit</a>
      </div>
<!--            ------------------>
     <button class="dropdown-btn">Pants-Sart
          <i class="fa fa-caret-down"></i>
       </button>
      <div class="dropdown-container">
             <a href="safari_suit.ejs">Safari Suit</a>
             <a href="pants.ejs">Pants</a>
             <a href="sart.ejs">Sart</a>
      </div>

          <a href="duble_bad.ejs">Duble Bed</a>

<!-------------------------            -->
              <button class="dropdown-btn">Towels
          <i class="fa fa-caret-down"></i>
       </button>
      <div class="dropdown-container">
             <a href="small_towels.ejs">Small Towels</a>
             <a href="big_towels.ejs">Big Towels</a>

      </div>



<!--            ------------------------>


            <a href="#contact">Search</a>
